:root {
  /* Colors */
  --div-color: black;

  /* Text Styles */
  --h2-font-size: 48px;
}

h1 {
  font-family: Roboto;
  font-weight: 900 Black;
  font-size: 96px;
  line-height: 1,1%;
  letter-spacing: 0%;
  text-decoration: none;
  letter-spacing: 0%;
 }

h2 {
  font-family: Roboto;
  font-weight: 900 Black;
  font-size: 48px;
  line-height: 1,1%;
  letter-spacing: 0%;
  text-decoration: none;
  letter-spacing: 0%;
 }

 h3 {
  font-family: Roboto;
  font-weight: 900 Black;
  font-size: 42px;
  line-height: 1,1%;
  letter-spacing: 0%;
  text-decoration: none;
  letter-spacing: 0%;
 }

 p {
  font-family: Roboto;
  font-weight: 400 Regular;
  font-size: 18px;
  line-height: 1,3%;
  letter-spacing: 0%;
  text-decoration: none;
  letter-spacing: 0%;
   }